extends ../layout

append css 
	link(rel='stylesheet', href='/css/blog.css')


block main
	block header
		.blog-masthead
			.container
				nav.blog-nav
					if pageName === '/'
						a.blog-nav-item.active(href='/') 首页
					else
						a.blog-nav-item(href='/') 首页
						
					if pageName === '/about'	
						a.blog-nav-item.active(href='/about') 关于
					else
						a.blog-nav-item(href='/about') 关于
						
					if pageName === '/contact'
						a.blog-nav-item.active(href='/contact') 联系
					else
						a.blog-nav-item(href='/contact') 联系
	.container
		.row
			.col-sm-8.blog-main
				block content
			.col-sm-3.col-sm-offset-1.blog-sidebar
				.sidebar-module
					h4 文章分类
					ol.list-unstyled
						li
							a(href='#') March 2014
						li
							a(href='#') March 2014
						li
							a(href='#') March 2014
						li
							a(href='#') March 2014
						li
							a(href='#') March 2014
						li
							a(href='#') March 2014
						li
							a(href='#') March 2014
						li
							a(href='#') March 2014
				.sidebar-module
					h4 友情连接
					ol.list-unstyled
						li
							a(href='#') GitHub
		
	block footer
		div.blog-footer
			p NodeBlog by zhaoxudong